body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
svg {
	width: 100%;
	height: 101vh;
}

.login{
  font-family: 'Arimo', sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  border-radius: 50px;
  color: #fff;
}
h1{
  display: flex;
  justify-content: center;
}

input{
  padding: 15px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 50px;
}
button{
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border: none;
  background-color: rgb(31, 249, 118);
}
button:hover{
  background-color: rgb(52, 140, 87);
  cursor: pointer;
}
